* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434; 
    font-family: sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main {
    background-color: #F5F5F5;
    width: 100%;
    max-width: 420px; 
    height: 420px; 
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px; 
}

.die-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px; 
}

.die-face {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); 
    font-size: 20px;
    font-weight: bold;
    color: #2b283a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}